* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Color palletes used
  dark-blue: #7286D3
  blue: #8EA7E9
  purple: #E5E0FF
  cream: #FFF2F2
  */

body {
  height: 100vh;
  /* background: linear-gradient(#7286d3, #447aaf); */

  color: black;
  font-family: Arial;
  font-size: 20px;
  /* padding: 50px; */
}

.main {
  background: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.home-section {
  background: #ffffff;
  margin: 1rem 3rem;
}

.below-navbar {
  display: flex;
}
