.login {
  display: flex;
  height: 100vh;
}

.imageContainerLogin {
  height: 100vh;
  width: 50%;
}

.imageContainerLogin img {
  height: 100vh;
  /* width: 50%; */
}

.login-box {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-evenly;
  padding: 5rem;
  width: 50%;
}

.login-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}

.login-text p {
  padding: 1rem 0;
  /* font-weight: 550; */
}

.login-box form {
  padding: 0 3.5rem;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 0.95rem;
}

.user-box {
  padding: 2rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-box input {
  padding: 0 0rem;
  height: 2.2rem;
  border: none;
  border-bottom: 1px solid;
}

.user-box input:focus {
  outline: none;
}
.user-box3 {
  padding: 1rem 0rem;
  display: flex;
  gap: 0.5rem;
}
.user-box2 {
  padding: 1rem 0rem;
}
.login-box .user-box2 > a {
  padding: 1rem 2rem;
  border-radius: 1rem;
  background: #8c664c;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 4rem;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
}

.login-box .user-box2 > p {
  font-weight: 100;
  font-size: 0.8rem;
  margin: 1rem 5.7rem;
}
.login-box .user-box2 p > a {
  text-decoration: none;
  color: #8c664c;
  font-weight: 400;
  font-size: 0.8rem;
}
