.profilePage-container {
  width: 100%;
  position: absolute;
}

.profilePageContainer {
  margin-top: 9vh;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  /* align-items: center; */
  height: 91vh;
  background: rgb(196, 181, 181, 0.7);
}

.imageContainerProfilePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.imageContainerProfilePage > img {
  height: 20rem;
  width: 20rem;
  border-radius: 100%;
}

.profilePageInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 5rem;
  gap: 3rem;
  background: rgb(196, 181, 181);
  border-radius: 2rem;
  margin: 2rem 2rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(43, 39, 39, 0.9);

  /* text-align: center; */
  /* align-items: center; */
}
.profilePageInfo > h1 {
  text-align: center;
}
