.button {
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  /* background: rgba(150, 36, 36, 0.9); */
  background: #cb936d;
  border-radius: 0.5rem 0.5rem;
  border: 0.3rem;
}

.button:hover {
  color: #cb936d;
  border-color: #cb936d;
  border: 1px solid #cb936d;
  background: #ffffff;
}

.navBar .nav-button {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: #ffffff;
  background: #4d3729ef;
  border-radius: 0.3rem 0.3rem;
  border: 0.3rem;
  white-space: nowrap;
  gap: 0.3rem;
}

.navBar .button:hover {
  color: #4d3729ef;
  border-color: #4d3729ef;
  border: 1px solid #4d3729ef;
  background: #ffffff;
}

.formStatusModal,
.formTaskModal .userBoxButtons .userBoxButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 5rem;
}
.userBoxButton2 {
  border: #cb936d;
  color: #cb936d;
  background: #fff;
}
.userBoxButton2:hover {
  /* border: #cb936d; */
  color: #fff;
  background: #cb936d;
}

.addTaskButton {
  padding: 0.7rem 1rem;
  color: #4d3729ef;
  background: #ffffff;
  font-size: 1rem;
  display: flex;
  gap: 1rem;
  border-radius: 2rem;
}

.addTaskButton:hover {
  padding: 0.7rem 1rem;
  color: #4d3729ef;
  background: #ffffff;
  font-size: 1rem;
  display: flex;
  gap: 1rem;
  border-radius: 2rem;
}
.buttonActive {
  color: #cb936d;
  border-color: #cb936d;
  border: 1px solid #cb936d;
  background: #ffffff;
}
