.navBar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 9vh;
  width: 100%;
  background: #4d3729;
  position: fixed;
  z-index: 100;
}

.logoBar {
  width: 20%;
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
}

.centerNavbar {
  width: 50%;
}
.centerNavbar ul {
  list-style: none;
  display: flex;
  /* gap: 1rem; */
  justify-content: center;
  align-items: center;
}

.centerNavbar ul li {
  height: 9vh;
  width: 100%;
  display: grid;
  place-items: center;
}
.centerNavbar ul li > a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 100;
  padding: 0rem 3rem;
  display: grid;
  place-items: center;
  white-space: nowrap;
  height: 100%;
  width: 100%;
}
.centerNavbar ul li:hover {
  background: #644633;
}
.profileContainer {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 1rem;
}

.profileName {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1rem;
  font-weight: 100;
}
.profileImage img {
  height: 6vh;
  width: 6vh;
  border-radius: 100%;
  cursor: pointer;
}

.profileLogout {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}

.profile-container {
  position: absolute;
  padding: 2rem;
  right: 4rem;
  top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.45);
  border-radius: 10px;
}
