.navBar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 9vh;
  width: 100%;
  background: #4d3729;
}

.logoBar {
  width: 20%;
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
}

.centerNavbar {
  width: 50%;
}
.centerNavbar ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.centerNavbar ul li > a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 100;
}

.profileContainer {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 1rem;
}

.profileName {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1rem;
  font-weight: 100;
}
.profileImage img {
  height: 6vh;
  width: 6vh;
  border-radius: 100%;
}

.profileLogout {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}
