.statusTask {
  /* background: yellow;
  overflow-x: hidden;
  overflow-y: hidden; */
  margin: 2rem 1rem;
  height: 4rem;
  box-sizing: border-box;
  display: flex;
  gap: 1rem;
}

.statusTask .statusCount {
  /* border: 1px solid #4d3729ee; */
  background-color: #cb936d;
  color: #fff;
  padding: 0.5rem 0.7rem;
  height: 5.2rem;
  width: 5.2rem;
  border-radius: 100%;
}

.taskContainer {
  /* border: 1px solid rebeccapurple; */
  background: #4d3729ee;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem 1rem#4d3729ee;
  padding: 1rem 0.5rem;
  margin-bottom: 2rem;
}
.displayTask {
  background: #cb936d;
  margin: 1rem 0;
  padding: 1rem 1rem;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 2rem 25% 5rem 20% auto 2rem;
}

.displayTask > div {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #cb936d; */
  padding: 0.5rem 0.5rem;
}

.displayTask .taskCount {
  background-color: #fff;
  color: #000;
  height: 2.2rem;
  width: 2.2rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.statusModal {
  background: #532405f5;
  /* margin-top: 10vh; */
  position: fixed;
  top: 50%;
  bottom: 50%;
  transform: translate(130%, -50%);
  height: 30%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}
.formStatusModal {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 80%;
  /* border: 1px solid blueviolet; */
  justify-content: center;
  align-items: center;
  color: #fff;
}

.formStatusModal .userBoxInput {
  gap: 1rem;
  font-weight: 600;
}

.formStatusModal .userBoxInput > input {
  width: 15rem;
}

.formStatusModal .userBoxButtons {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* border: 1px solid white; */
  justify-content: space-evenly;
}

.modalWhenNoStatusName {
  color: white;
}
/* .statusTask {
   background: yellow; 
  margin: 2rem 1rem;
  height: 3rem;
  display: flex;
  gap: 1rem;
} */

/* Task Modal css */

.taskModal {
  background: #532405f5;
  /* margin-top: 10vh; */
  position: fixed;
  top: 50%;
  bottom: 50%;
  transform: translate(50%, -50%);
  height: 70%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

.formTaskModal {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 50%;
  /* border: 1px solid blueviolet; */
  justify-content: center;
  /* align-items: center; */
  color: #fff;
}

.formTaskModal .userBoxInput {
  gap: 0.5rem;
  font-weight: 500;
}

.formTaskModal .userBoxInput > input {
  width: 100%;
  height: 2rem;
}

.formTaskModal .userBoxInput > select {
  height: 2rem;
}
.formTaskModal .userBoxButtons {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* border: 1px solid white; */
  justify-content: space-evenly;
}
