.task {
  width: 18rem;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1.3rem 2.5rem 2rem 0rem;
  box-shadow: 0.1rem 0.1rem 0.5rem gray;
}

.task input {
  border: none;
  border-bottom: 1px solid gray;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.task input:active {
  border: none;
}
.task input:focus {
  outline: none;
}
